<span>Temperature :</span>{{ weather.temp }}<br>
<span>Minimum Temperature :</span>{{ weather.temp_min }}<br>
<span>Maximum Temperature :</span>{{ weather.temp_max }}<br>
<span>Pressure :</span>{{ weather.pressure }}<br>
<span>Sea level :</span>{{ weather.sea_level }}<br>
<span>Ground level :</span>{{ weather.grnd_level }}<br>
<span>Humidity :</span>{{ weather.humidity }}<br>
<span>Temperature KF : </span>{{ weather.temp_kf }}<br>

<br><br>
<nav>
    <a routerLink="">Back</a>
</nav>