table, th, td{
    padding: 2px 2px 2px 2px;
    border: 2px solid;
    align-content: center;
    color: rgb(177, 114, 230);
    border-color: mediumpurple;
}
table{
    width: 50%;
}
tr{
    height: 15px;
    text-align: center;
}
td{
    vertical-align: middle;
}