<table align="center">
        <tr>
            <td style="font-weight: bold; color: cornflowerblue; background-color: cornsilk;">Date</td>
            <td style="font-weight: bold; color: cornflowerblue; background-color: cornsilk;">Weather</td>
            <td style="font-weight: bold; color: cornflowerblue; background-color: cornsilk;">Wind</td>
            <td style="font-weight: bold; color: cornflowerblue; background-color: cornsilk;">Sys</td>
        </tr>
        <tr *ngFor="let obj of data" (click)="showDet(obj)">
            <td>{{ obj.dt_txt }}</td>
            <td>{{ obj.weather[0].main }}, {{obj.weather[0].description}}</td>
            <td>{{ obj.wind.speed }}, {{obj.wind.deg}}</td>
            <td>{{ obj.sys.pod }}</td>
        </tr>
</table>
